* {
  font-family: "Poppins", sans-serif;
}

:root {
  --colorPrimary: #5091e9;
  --colorBackground: #edf2f9;
  --colorGrey: #4c4c4c;
  --colorGreyLight: #757575;
  --colorGreyDark: #1c1c1c;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #bec4c4;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* OTP input */
.signup-otp-container input {
  background-color: rgba(238, 238, 238, 0.5);
  border: 1px solid var(--colorGrey);
  outline: 1px solid var(--colorGrey);
  color: var(--colorGreyDark);
  border-radius: 2px;
  font-size: 1.2rem;
  padding: 3px;
  box-sizing: content-box;
}

.signup-otp-container input:focus {
  outline: 1px solid var(--colorPrimary);
  border: 1px solid var(--colorPrimary);
}

/* Custom text field */

.create-post-text-field textarea {
  font-size: 0.95rem;
}

.create-post-text-field textarea::placeholder {
  color: #111111;
  font-size: 0.95rem;
}

/* Profile photo tab hover */
.photo-tab-image-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.photo-tab-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0,0,0,0.6);
  border: 1px solid rgba(0,0,0,0,0.6);
  border-radius: 10px;
}

.photo-tab-image-container:hover .photo-tab-image-overlay {
  opacity: 1;
}

.photo-tab-image-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
